*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --header-height: 64px;

  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  --color-text-primary: #6b6375;
  --color-text-heading: #08060d;
  --color-bg-primary: #ffffff;

  font: 18px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: #9ca3af;
    --color-text-heading: #f3f4f6;
    --color-bg-primary: #16171d;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-text-heading);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

body {
  margin: 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex-grow: 1;
}
